<div class="container-fluid navbar-expand bg-dark">
  <h1 class="text-light">{{title}}</h1>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-md-6">
      <app-input
      (valueChanged) = "newCity($event)"
      ></app-input>  
      <button class="btn btn-info form-control mt-2" (click)=getWeatherData()>Show</button>    
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
<div class="container">
  <app-output></app-output>
</div>

